.ComplexReview{
    margin: 4% 0;
    color: #1A1A1A;
    display: flex;
    align-items: center;
}

.ComplexReview_container{
    display: flex;
    flex-direction: column;
}

.ComplexReview_ratingContainer{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.ComplexReview_ratingContainer p{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 10px;
    margin-bottom: 1%;
}

.ComplexReview_avatar{
    margin-right: 20px;
}

.ComplexReview_btnContainer{
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-size: 0.7rem;
    color: #1A1A1A;
}

.ComplexReview_btnContainer button{
    cursor: pointer;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.7);
    outline: 0 none;
    border-radius: 10px;
    font-size: 0.7rem;
    color: #1A1A1A;
    display: flex;
    align-items: center;
    padding: 1px 5px;
    margin-right: 5px;
    transition: 0.9s;
}

.ComplexReview_btnContainer button:hover{
    background: #1A1A1A;
    color: #FBFBFB;
}
