.bookingPayment{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    padding: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container p{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 5%;
    text-transform: capitalize;
}

.error{
    color: #DD5347;
    font-size: 0.9rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}

.inputs input, .inputs select{
    height: 45px;
    background: rgba(0, 0, 0, 0.07);
    border: 0 none;
    outline: 0 none;
    padding: 0 5%;
    border-radius: 10px;
    margin-bottom: 3%;
}

.inputs select{
    appearance: none;
}

.inputs div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs div input{
    width: 45%;
}

.submitBtn{
    background: rgba(4, 182, 169, 1);
    color: #FBFBFB;
    cursor: pointer;
    width: 30%;
    height: 45px;
    border: 0 none;
    outline: 0 none;
    padding: 0 5%;
    border-radius: 10px;
    margin-bottom: 3%;
}

.submitBtn:disabled{
    background: rgba(4, 182, 169, 0.5);
    cursor: default;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img{
    object-fit: cover;
}

:global .cardElement{
    background: rgba(0, 0, 0, 0.07);
    border: 0 none;
    outline: 0 none;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 3%;
}

@media all and (max-width: 768px) {
    .container{
        grid-template-columns: 1fr;
        padding: 5%;
    }

    .container p{
        font-size: 1.1rem;
        margin: 4% 0;
    }

    .error{
        font-size: 0.8rem;
    }

    .icon{
        display: none;
    }
}
