.reviews{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.reviews_container{
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    padding: 5%;
    height: 100%;
    width: 100%;
}

.reviews_container h1{
    font-weight: 300;
    font-size: 2rem;
    color: #1A1A1A;
    margin-bottom: 5%;
}

.modalTitle{
    font-weight: 300;
    font-size: 1.6rem;
    color: #1A1A1A;
    margin-bottom: 5%;
}

.noReviews{
    color: #1A1A1A;
    font-size: 1rem;
    margin-top: 5%;
}

.error{
    font-size: 0.8rem;
    margin-bottom: 2%;
    color: #DD5347;
}

.reviewBox{
    border-radius: 10px;
    margin-top: 5%;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    resize: none;
    border: 0 none;
    outline: 0 none;
    padding: 5%;
}

.reviews_header{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.reviews_addBtn{
    background: transparent;
    width: fit-content;
    padding: 0 20px;
    height: 55px;
    border: 1px solid #1A1A1A;
    outline: 0 none;
    border-radius: 10px;
    color: #1A1A1A;
    transition: 0.9s;
    cursor: pointer;
    margin-left: 15px;
}

.reviews_addBtn:hover{
    background: #1A1A1A;
    color: #FBFBFB;
}

.reviews_box{
    width: 80%;
}

.btnContainer{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.btnContainer button{
    border-color: #1A1A1A;
    color: #1A1A1A;
    margin: 5% 0;
}

.btnContainer button:hover{
    background: #1A1A1A;
    color: #FBFBFB;
}

.content_box{
    display: flex;
}

.recommendation_box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A1A1A;
    height: 80%;
    flex-direction: column;
}

.recommendation{
    font-size: 6rem;
}
