.jumboImage{
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumboImage button{
    position: absolute;
    z-index: 2;
    height: 10%;
    background: var(--text-dark);
    width: 5%;
    opacity: 0.6;
    cursor: pointer;
    border: 0 none;
    outline: 0 none;
    transition: 0.8s;
    color: var(--white);
}

.jumboImage button:hover{
    opacity: 1;
}

.jumboImage_prevBtn{
    left: 0;
    border-radius: 0 10px 10px 0;
}

.jumboImage_nextBtn{
    right: 0;
    border-radius: 10px 0 0 10px;
}

.jumboImage img{
    border-radius: 10px;
    width: 80%;
    object-fit: cover;
    height: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@media all and (max-width: 768px) {
    .jumboImage img{
        width: 100%;
    }
}
