.exploreLanding{
    background: var(--text-secondary);
    height: 92vh;
    margin-top: 3px;
}

.exploreLanding_container{
    height: 100%;
    background: url("../../assets/explore_bg_icon.png") no-repeat bottom right;
    background-size: 50%;
    padding: 5%;
}

.exploreLanding_landingTitle{
    color: var(--text-primary);
    text-transform: capitalize;
    margin: 30px 0;
}

@media all and (max-width: 768px) {
    .exploreLanding_landingTitle{
        font-size: 1.4rem;
        text-align: center;
    }

    .exploreLanding{
         height: 60vh;
     }
}
