.dashboard{
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
}

.menu{
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
}

.logo{
    margin: 40px 0;
    align-self: center;
    display: flex;
    align-items: center;
    font-weight: 300;
}

.logo img{
    height: 20px;
    object-fit: cover;
    margin-right: 5px;
}

.menuItems{
    display: flex;
    flex-direction: column;
}

.menuItems a{
    padding: 15px 20px;
    color: rgba(0, 0, 0, 0.9);
    font-size: 90%;
    font-weight: 400;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.menuItems a:hover{
    background: rgba(0, 0, 0, 0.1);
}

:global .active{
    background: rgba(0, 0, 0, 0.1);
}

:global .menuIcon{
    color: rgba(0, 0, 0, 0.7);
    margin-right: 10px;
}

.content{
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
}

.mobileMenu{
    display: none;
}

.closeIcon{
    display: none;
}

@media all and (max-width: 768px) {
    .menu{
        display: none;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .mobileMenu{
        display: block;
        width: 100%;
        min-height: 100vh;
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        padding-top: 10%;
    }

    .closeIcon{
        display: block;
        position: absolute;
        right: 2%;
        top: 2%;
        color: rgba(0, 0, 0, 0.4);
        font-size: 1.8rem;
        cursor: pointer;
        z-index: 9;
    }

    .dashboard{
         grid-template-columns: 1fr;
     }
}
