.nearbyPlaces{
    display: flex;
}

.nearbyPlaces_filterContainer{
    width: 20%;
    height: 100%;
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.2);
    padding: 2% 1%;
    opacity: 0.9;
    background: var(--text-dark);
    color: var(--text-light);
}

.nearbyPlaces_filterContainer h3{
    margin-bottom: 15%;
}

.nearbyPlaces_placesContainer{
    width: 70%;
    height: 100%;
    padding: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nearbyPlaces_btnContainer{
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}

.nearbyPlaces_btnContainer button{
    margin: 5% 0;
}

.nearbyPlaces_ratingFilter{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.nearbyPlaces_ratingSlider{
    margin: 0 5%;
}

.error{
    text-align: center;
    font-weight: 300;
    font-size: 150%;
    margin-top: 10%;
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
}

@media all and (max-width: 768px) {
    .nearbyPlaces{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .nearbyPlaces_filterContainer{
        width: 100%;
        height: 100%;
        padding: 5%;
    }

    .nearbyPlaces_placesContainer{
        width: 100%;
        height: 100%;
    }

    .nearbyPlaces_btnContainer{
        width: 100%;
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10%;
    }

    .nearbyPlaces_btnContainer button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        box-shadow: none;
        border: 0 none;
    }
}
