.accountBox{
    background: var(--text-secondary);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accountBox_box{
    width: 100%;
    height: 100vh;
    background: var(--text-light);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    grid-template-rows: 1fr;
}

.accountBox_logoBox{
    height: 100%;
    background: var(--text-secondary);
    border-radius: 10px 0 0 10px;
    text-align: center;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.accountBox_contentBox{
    height: 100%;
    background: var(--text-light);
    border-radius: 0 10px 10px 0;
    padding: 10%;
    color: var(--text-dark);
}

.accountBox_logo{
    width: 45%;
    object-fit: cover;
}

.accountBox_icon{
    width: 60%;
    object-fit: cover;
}

.accountBox_title{
    margin-top: 3%;
    font-weight: 500;
}

.accountBox_form{
    display: flex;
    align-items: center;
    height: 100%;
}

.accountBox_form > form{
    display: flex;
    flex-flow: column;
    width: 100%;
}

.accountBox_login_options{
    display: flex;
    justify-content: flex-end;
}

.accountBox_suggestion{
    color: var(--text-dark);
    margin-top: 10%;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.accountBox_suggestion > a{
    margin-left: 5px;
}

.accountBox_link{
    font-size: 0.7rem;
}

.accountBox_button_options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accountBox_chips{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.accountBox_info_icon{
    margin-right: 3%;
}

.accountBox_fieldsContainer{
    display: flex;
    flex-flow: column;
}

:global .accountBox_error{
    color: var(--error);
    margin-bottom: 20px;
    font-size: 0.8rem;
}

.closeIcon{
    position: fixed;
    right: 3%;
    top: 3%;
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 9;
    display: none;
}

@media all and (max-width: 768px) {
    .accountBox_box{
        grid-template-columns: 1fr;
    }

    .accountBox_logoBox{
        display: none;
    }

    .closeIcon{
        display: block;
    }
}
