.placesSection{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
}

.placesSection_places{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
    width: 100%;
}

.placesSection_allPlacesLink{
    margin-top: 5%;
    text-align: center;
}

.error{
    margin-top: 5%;
    font-size: 120%;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
}

@media all and (max-width: 768px) {
    .placesSection_allPlacesLink{
        font-size: 0.8rem;
        margin-top: 15%;
    }

    .placesSection_places{
        display: grid;
        grid-template-columns: 0.1fr 1.8fr 0.1fr;
        margin-top: 8%;
        width: 100%;
    }
}
