.tripPlan{
    min-height: 100vh;
    width: 100%;
    padding: 3%;
    color: rgba(0, 0, 0, 0.65);
}

.container{
    padding: 2%;
    margin-bottom: 2%;
}

.cardTitle{
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem;
    margin: 3% 0;
    text-transform: capitalize;
}

.topOptions{
    display: grid;
    grid-template-columns: 1.6fr 0.4fr;
    align-items: center;
    color: #04B6A9;
}

.topOptions p, .topOptions a{
    cursor: pointer;
    display: flex;
    align-items: center;
}

.topOptions p span, .topOptions a span{
    margin-left: 8px;
}

.topOptions div{
    display: flex;
    justify-content: space-between;
}

.sourceDestInfo{
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    width: 100%;
    z-index: 99;
}

.sourceDestInfo h1{
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.sourceDestInfo h1 span{
    margin: 5px 2% 0 2%;
}

.sourceDestInfo p{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.55);
}

.timelineContainer, .budgetContainer{
    background: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.timelineTime{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 2%;
}

.timelineCard{
    background: rgba(0, 0, 0, 0.065);
    padding: 3% 4%;
    border-radius: 10px;
}

.timelineCard p{
    font-size: 0.8rem;
    margin-top: 1%;
}

.weatherContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 3%;
}

.bookingContainer{
    display: grid;
    grid-template-columns: 0.3fr 2.3fr 0.4fr;
    align-items: center;
    grid-gap: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 0;
    border-radius: 10px;
}

.bookingContainer > .price{
    background: #04B6A9;
    color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    height: 100%;
    font-size: 0.9rem;
}

.bookingContainer .roomDesc, .bookingStatus{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 0.3%;
}

.bookingContainer .cancelBooking{
    color: #04B6A9;
    cursor: pointer;
}

.bookingStatus{
    font-size: 0.8rem;
    padding-top: 2%;
}

.bookingInfo{
    padding: 2% 0;
}

.budgetDetails{
    display: grid;
    grid-template-columns: 0.28fr 1.72fr;
    margin-bottom: 0.8%;
}

.budgetDetails:last-child{
    margin-bottom: 0;
}

.budgetPie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.budgetPie > div{
    width: 100%;
    display: flex;
    justify-content: center;
}

.updatePrivacy{
    height: 40px;
    width: 40%;
    border-radius: 10px 10px 0 0;
    border: 0 none;
    outline: 0 none;
    background: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.8);
    padding: 0 3%;
    appearance: none;
}

@media all and (max-width: 768px) {
    .topOptions{
        grid-template-columns: 1.7fr 0.3fr;
        font-size: 0.8rem;
    }

    .sourceDestInfo h1{
        font-size: 1.1rem;
    }

    .sourceDestInfo p{
        font-size: 0.8rem;
    }

    .timelineTime{
        font-size: 0.7rem;
        margin-top: 5%;
    }

    .timelineCard{
        padding: 4% 5%;
    }

    .timelineCard h4{
        font-size: 0.9rem;
    }

    .timelineCard p{
        font-size: 0.7rem;
        margin-top: 1%;
    }

    .cardTitle{
        font-size: 1.3rem;
        margin: 5% 0;
    }

    .budgetDetails{
        display: grid;
        grid-template-columns: 0.4fr 0.6fr;
        margin-bottom: 0.8%;
        font-size: 0.85rem;
    }

    .budgetContainer{
        padding: 5%;
    }

    .budgetDesc{
        font-size: 0.85rem;
        padding-bottom: 5%;
    }

    .weatherContainer{
        grid-template-columns: 1fr;
    }

    .updatePrivacy{
        width: 100%;
    }

    .bookingContainer{
        grid-template-columns: 0.3fr 0.7fr;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        grid-row-gap: 0;
    }

    .bookingContainer h3{
        font-size: 1rem;
        margin: 3% 0;
    }

    .bookingContainer > .price{
        font-size: 0.8rem;
        border-radius: 10px 0 0 0;
    }

    .bookingContainer .roomDesc, .bookingStatus{
        font-size: 0.8rem;
    }

    .bookingContainer .cancelBooking{
        background: #04B6A9;
        color: #FBFBFB;
        font-size: 0.8rem;
        text-align: center;
        padding: 4% 0;
        border-radius: 0 0 0 10px;
    }

    .bookingStatus{
        font-size: 0.8rem;
        padding-top: 2%;
    }

    .bookingInfo{
        padding: 2% 0;
    }
}
