.navBar{
    background: #FFFFFF;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 15px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar_logo{
    height: 30px;
}

.navBar div{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navBar a{
    margin: 0 2%;
    color: var(--text-primary);
    text-decoration: none;
    cursor: pointer;
}

.navBar_avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5%;
    cursor: pointer;
}

@media all and (max-width: 768px) {
    .navBar_logo{
        height: 20px;
    }

    .navBar a{
        font-size: 0.8rem;
    }

    .navBar_avatar{
        width: 25px;
        height: 25px;
    }
}
