.timelineItem{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 4%;
    justify-content: space-between;
}

.icon{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

@media all and (max-width: 768px) {
    .timelineItem{
        padding: 8%;
        font-size: 0.9rem;
    }
}
